# ---- API CONFIGURATION ----
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_TTS_ENDPOINT=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYEMENT=
SILICONFLOW_API_KEY=
# ---- LANGGRAPH CONFIGURATION ----
LANGSMITH_API_KEY=
LANGGRAPH_URL="http://localhost:8123"
# ---- SUPABASE CONFIGURATION ----
SUPABASE_URL=
SUPABASE_KEY=